In [2]:
import utils
df = utils.read_json("example.json")
utils.tokenize_df(df).head()

,body,judgement,comment_body
0,"[AITA, for, giving, my, group, member, a, bad,...",YTA,"[YTA, She, contributed, to, the, project, (, m..."
1,"[AITA, for, giving, my, group, member, a, bad,...",YTA,"[YTA, She, contributed, to, the, project, (, m..."
2,"[AITA, for, giving, my, group, member, a, bad,...",YTA,"[YTA, She, contributed, to, the, project, (, m..."